@model HostelManagementSystem.Models.User

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>User Detail</h2>

<div class="col-lg-12">
    <hr />
    <div class="col-md-12">
        Staff Name : @Html.DisplayFor(model => model.Staff.first_name)  @Html.DisplayFor(model => model.Staff.last_name)
    </div>
    <div class="col-md-12">
        Username :  @Html.DisplayFor(model => model.Username)
    </div>
    <div class="col-md-12">
        Status :  @Html.DisplayFor(model => model.Active)
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UserId}) |
    @Html.ActionLink("Back to List", "Index")
</p>
